@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 185 79% 11%;
    --foreground: 187 21% 75%;
    --muted: 185 12% 15%;
    --muted-foreground: 185 12% 65%;
    --popover: 185 79% 8%;
    --popover-foreground: 187 21% 85%;
    --card: 185 79% 9%;
    --card-foreground: 187 21% 80%;
    --border: 185 69% 16%;
    --input: 185 69% 19%;
    --primary: 187 78% 39%;
    --primary-foreground: 0 0% 100%;
    --secondary: 187 30% 75%;
    --secondary-foreground: 187 30% 15%;
    --accent: 185 79% 26%;
    --accent-foreground: 0 0% 100%;
    --destructive: 3 88% 52%;
    --destructive-foreground: 0 0% 100%;
    --ring: 187 78% 39%;
    --chart-1: 187 78% 39%;
    --chart-2: 187 30% 75%;
    --chart-3: 185 79% 26%;
    --chart-4: 187 30% 78%;
    --chart-5: 187 81% 39%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 185 79% 11%;
    --foreground: 187 21% 75%;
    --muted: 185 12% 15%;
    --muted-foreground: 185 12% 65%;
    --popover: 185 79% 8%;
    --popover-foreground: 187 21% 85%;
    --card: 185 79% 9%;
    --card-foreground: 187 21% 80%;
    --border: 185 69% 16%;
    --input: 185 69% 19%;
    --primary: 187 78% 39%;
    --primary-foreground: 0 0% 100%;
    --secondary: 187 30% 75%;
    --secondary-foreground: 187 30% 15%;
    --accent: 185 79% 26%;
    --accent-foreground: 0 0% 100%;
    --destructive: 3 88% 52%;
    --destructive-foreground: 0 0% 100%;
    --ring: 187 78% 39%;
    --chart-1: 187 78% 39%;
    --chart-2: 187 30% 75%;
    --chart-3: 185 79% 26%;
    --chart-4: 187 30% 78%;
    --chart-5: 187 81% 39%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
