@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
--primary: 187 100% 34%;
--primary-foreground: 0 0% 100%;
--secondary: 187 30% 75%;
--secondary-foreground: 187 30% 15%;
--background: 180 10% 96%;
--foreground: 187 100% 19%;
--card: 180 10% 94%;
--card-foreground: 187 100% 14%;
--popover: 180 10% 93%;
--popover-foreground: 187 100% 9%;
--muted: 180 12% 90%;
--muted-foreground: 180 12% 30%;
--accent: 180 10% 81%;
--accent-foreground: 180 10% 21%;
--destructive: 4 86% 41%;
--destructive-foreground: 0 0% 100%;
--border: 0 0% 91%;
--input: 0 0% 88%;
--ring: 187 100% 34%;
    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 48 50% 5%;
    --foreground: 48 5% 90%;
    --card: 48 50% 0%;
    --card-foreground: 48 5% 90%;
    --popover: 48 50% 5%;
    --popover-foreground: 48 5% 90%;
    --primary: 48 34% 38%;
    --primary-foreground: 0 0% 100%;
    --secondary: 48 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 10 30% 15%;
    --muted-foreground: 48 5% 60%;
    --accent: 10 30% 15%;
    --accent-foreground: 48 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 48 5% 90%;
    --border: 48 30% 18%;
    --input: 48 30% 18%;
    --ring: 48 34% 38%;
    --radius: 0.75rem;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
